[mysqld]
server-id=1
log_bin=/var/log/mysql/mysql-bin.log
max_binlog_size = 100m
bind-address=0.0.0.0
binlog_do_db=foobar
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir = /home/abrah926/holbertonschool-system_engineering-devops/web_infrastructure_design/server1/mysql-data

log-error       = /var/log/mysql/error.log